<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
  {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!-- right-side -->
                 <div class="col-md-6 col-12 main_header_right align-item-center">
                    <figure>
                        <img src="im/about1.png" alt="" class="img-fluid">
                    </figure>
                    </div> 
                 <!-- left-side -->
                 <div class="col-md-6 col-12 main_header_left">
                     <h1 class="text-about">I AM A  <span>Front-end web development</span>&nbsp;&nbsp;can do little bit backend. and like to learn something new to gain more knowledge.</h1>
                     <a href="https://github.com/AbdelghafourT"> <button>About me</button></a>
                 </div>   
                </div>
           </div>
        </div>
    </div>
            <!-- footer code -->
            {{>footer}}
</body>
</html>