<footer>
    {{!-- <p>created with ❤ by Abdelghafour</p> --}}
    <div class="footer-top">
        <div class="side">
            <h2 class="F_text">WeatherF</h2>
            <p class="description">Weather website which allows to display the current weather forecast and the 5 day forecast easily for the user.</p>
            <h2 class="pow">created by</h2>
            <p class="description">created with ❤ by Abdelghafour</p>
        </div>
        <div class="side">
            <h2 class="F_text">LIENS </h2>
            <ul>
                <li><a href="/">&#x27A4;&nbsp;Home</a></li>
                <li><a href="/weather">&#x27A4;&nbsp;Weather</a></li>
                <li><a href="/about">&#x27A4;&nbsp;About</a></li>
            </ul>
        </div>
        <div class="side">
            <h2 class="F_text">Social</h2>
            <div class="ICONS-B">
                <a href="https://github.com/AbdelghafourT" target="_blank">
                    <div class="S-IM"><img src="/im/icons8-github.svg"  alt=""></div>
                </a>
                <a href="https://www.linkedin.com/in/tizougarhine-abdelghafour-23ba68201/" target="_blank">
                    <div class="S-IM move-left"><img src="/im/linkedin.svg"  alt="linkedin"></div>
                </a>
            </div>
            <h2 class="pow">powered by</h2>
            <a href="https://openweathermap.org/" id="Powerdby">Powered By openweathermap</a>
        </div>
    </div>
    <div class="footer-bottom">Forecast Weather &nbsp;&nbsp;© 2021 All rights reserved</div>
</footer>